<div class="jumbotron" style="background-color: white;">
  <h1 class="display-4">
    Contacto
  </h1>
  <hr>
  <p class="lead">
  Contáctenos para recibir totalmente gratis y sin compromiso de compra una licencia de prueba de nuestro software por 90 días.

Envíanos un correo a: demo@ixchel.mx  o bien al telefono: 52+(33) 1500 8866
  </p>
  Moctezuma 3515, Plaza Astral, Local 8, Zona E, Col. Ciudad del Sol, Zapopan, 45050
  <hr>

  <form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Correo</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  
  <div class="col-12">
    <label for="inputAddress" class="form-label">Dirección</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>

  <div class="col-md-6">
    <label for="inputCity" class="form-label">Ciudad</label>
    <input type="text" class="form-control" id="inputCity">
  </div>

  <div class="col-md-4">
    <label for="inputState" class="form-label">Estado</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
</div>