.style-col {
  width: 16.66667vw;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: white;
  border: 1px solid #dddd;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  text-align: left;
}

/* width */
.style-col::-webkit-scrollbar {
  width: 7px;
}

/* Background container */
.style-col::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.style-col::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

/* Handle on hover */
.style-col::-webkit-scrollbar-thumb:hover {
  background: #17a2b8; 
}

.active {
  background-color: rgb(238, 234, 234);
  border-radius: 10px;
}

li {
  list-style: none;
}

ul {
  line-height: 2.5;
}

li a {
  font-size: 1vw;
  color: black;
  text-decoration: none;
}

#icon-menu-container{
  width: 20%; 
  float: left;
}

#label-menu-container{
  width: 60%; 
  float: left;
  white-space: break-spaces;
}

#badge-menu-container{
  width: 20%; 
  float: left;
}

li a label {
  cursor: pointer;
}

//badge
li a label span {
  position: relative;
  float: right;
}

//Style for minimize the menu in icons.
.redux {
  width: 5rem !important;

  ul {
    line-height: 3;
  }

  ul li span {
    font-size: 30px;
  }

  li a label {
    display: none;
  }

  #badgeMenu {
    font-size: 15px;
    position: relative;
    // float: right;
  }
}
