.style-col {
  width: 16.66667vw;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: white;
  border: 1px solid #dddd;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  text-align: left;
}

/* width */
.style-col::-webkit-scrollbar {
  width: 7px;
}

/* Background container */
.style-col::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  // border-radius: 10px;
}

/* Handle */
.style-col::-webkit-scrollbar-thumb {
  background: gray;
  // border-radius: 10px;
}

/* Handle on hover */
.style-col::-webkit-scrollbar-thumb:hover {
  background: #4fb0ff;
}

.active {
  background-color: #a0d2fc;
  //background-color: rgb(234, 238, 237);;
  border-radius: 10px;
}

//Distance ul menu
ul {
  line-height: 4;
}

li {
  border-top: 0.1px solid rgb(202, 201, 201);
  list-style: none;
}

li a {
  font-size: 15px;
  color: black;
  text-decoration: none;
}

#icon-menu-container {
  width: 20%;
  float: left;
}

#label-menu-container {
  width: 60%;
  float: left;
  white-space: break-spaces;
}

#badge-menu-container {
  width: 20%;
  float: left;
}

li a label {
  cursor: pointer;
}

//badge
li a label span {
  position: relative;
  float: right;
}

//Style for minimize the menu in icons.
.redux {
  width: 5rem !important;

  ul {
    line-height: 3;
  }

  ul li span {
    font-size: 25px;
  }

  li a label {
    display: none;
  }

  #badgeMenu {
    font-size: 12px;
    position: relative;
  }
}

@media only screen and (max-width: 850px) {
  .style-col {
    width: 4.5rem !important;
  }

  ul {
    line-height: 3;
  }

  ul li span {
    font-size: 25px;
  }

  //badge
  li a label {
    display: none;
  }

  #badgeMenu {
    font-size: 12px;
    position: relative;
  }
}
