<!-- First Level -->
<div>
  <div [className]="lstVisible[1].isCollapse? 'col-md-auto style-col redux' : 'col-md-auto style-col'">
    <div class="my-2 title-menu">
    </div>
    <hr>
    <div>
      <ul class="list-group">
        <li *ngFor="let menu of list_menus[1]|filter:searcherText" title="{{menu.title}}" routerLinkActive="active">
          <a draggable="false" (click)="openSubMenu(menu.id, 2)" [routerLink]="[menu.path]">
            <div id="icon-menu-container"><span class="{{menu.icon}}"></span></div>
            <div id="label-menu-container"><label>{{menu.title}}</label></div>
            <div id="badge-menu-container"><span id="badgeMenu" [className]="menu.badgeClass">{{menu.badge}}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Next Levels -->
<div *ngFor="let turn of number_turns">
  <div [className]="lstVisible[turn + 1].isCollapse? 'col-md-auto style-col redux' : 'col-md-auto style-col'"
    *ngIf="lstVisible[turn + 1].isVisible == true">
    <div class="my-2 title-menu">
    </div>
    <hr>
    <div>
      <ul class="list-group">
        <li *ngFor="let menu of list_menus[turn + 1]|filter:searcherText" title="{{menu.title}}"
          routerLinkActive="active">
          <a draggable="false" (click)="openSubMenu(menu.id, turn + 2)" [routerLink]="[menu.path]">
            <div id="icon-menu-container"><span class="{{menu.icon}}"></span></div>
            <div id="label-menu-container"><label>{{menu.title}}</label></div>
            <div id="badge-menu-container"><span id="badgeMenu" [className]="menu.badgeClass">{{menu.badge}}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
