<h1>Recursos</h1>

Un grupo joven de expertos desarrolladores logran integrar Ixchel con aparatos externos de monitoreo, otras tecnologías, los requerimientos específicos del médico tratante y la información del paciente para mejorar la experiencia en el servicio y revolucionar el manejo de la información de manera transparente.

Por ejemplo,  los pacientes que cuentan con un aparato de monitoreo remoto como un monitor cardiaco, podrán introducir los datos directamente en sus dispositivos de manera manual o automática y ver su expediente electrónico actualizado en tiempo real. En caso de emergencia o valores fuera de rango, es posible que Ixchel comunique con una alerta al médico tratante de ese padecimiento en específico quien puede «reaccionar» de manera más rápida y eficiente ante casos de emergencia de sus pacientes.

La tecnología, de la mano de Ixchel, podrá ser conectadas de  una manera integral y sin esfuerzo, para compartir y nutrir la  información del paciente a mayor velocidad.