<h1>Dynamic Form</h1>

<form [formGroup]="formExpedient1">
  <fieldset>
    <div class="row">
      <!-- nf for -->
      <div
        [className]="form.field_type != 'legend' ? 'form-group '+ form.size_col : form.size_col"
        *ngFor="let form of lst_forms">

        <ng-container [ngSwitch]="lst_forms.length > 0">

          <!-- Legend -->
          <ng-container *ngSwitchCase="form.field_type == 'legend'">
            <legend *ngIf="form.have_label == true" class="{{form.field_class}}">{{form.label_title}}</legend>
            <hr>
          </ng-container>

          <!-- Text -->
          <ng-container *ngSwitchCase="form.field_type === 'text'">
            <label *ngIf="form.have_label == true">{{form.label_title}}</label>
            <input type="text" class="{{form.field_class}}" id="{{form.field_id}}"
              placeholder="{{form.placeholder_name}}" autocomplete="{{form.autocomplete}}" formControlName="{{form.id}}"
              minlength="{{form.min_length}}" maxlength="{{form.max_length}}" (keypress)="validate(form.id)"
              (click)="validate(form.id)">

            <div *ngIf="formControlName == form.id">
              <div *ngIf="fieldControl.invalid && fieldControl.touched" class="validation-error">
                <div class="text-danger" *ngIf="fieldControl.errors.required">{{form.label_title}} es requerido.</div>
                <div class="text-danger" *ngIf="fieldControl.errors.minlength">{{form.label_title}} debe tener almenos
                  {{form.min_length}} letras.</div>
                <div class="text-danger" *ngIf="fieldControl.errors.max_length">{{form.label_title}} maximo
                  {{form.max_length}}.
                </div>
              </div>
            </div>
          </ng-container>

          <!-- Numeric -->
          <ng-container *ngSwitchCase="form.field_type === 'number'">
            <label *ngIf="form.have_label == true">{{form.label_title}}</label>
            <input type="number" class="{{form.field_class}}" id="{{form.field_id}}"
              placeholder="{{form.placeholder_name}}" formControlName="{{form.id}}" min="{{form.min_length}}"
              max="{{form.max_length}}" (keypress)="validate(form.id)" (click)="validate(form.id)">

            <div *ngIf="formControlName == form.id">
              <div *ngIf="fieldControl.invalid && fieldControl.touched" class="validation-error">
                <div class="text-danger" *ngIf="fieldControl.errors.required">{{form.label_title}} es requerido.</div>
                <div class="text-danger" *ngIf="fieldControl.errors.minlength">{{form.label_title}} debe tener almenos
                  {{form.min_length}} letras.</div>
                <div class="text-danger" *ngIf="fieldControl.errors.max_length">{{form.label_title}} maximo
                  {{form.max_length}}.
                </div>
              </div>
            </div>
          </ng-container>

          <!-- Textarea -->
          <ng-container *ngSwitchCase="form.field_type === 'textarea'">
            <label *ngIf="form.have_label == true">{{form.label_title}}</label>
            <textarea class="{{form.field_class}}" id="{{form.field_id}}" placeholder="{{form.placeholder_name}}"
              formControlName="{{form.id}}" minlength="{{form.min_length}}" maxlength="{{form.max_length}}"
              (keypress)="validate(form.id)" (click)="validate(form.id)"></textarea>

            <div *ngIf="formControlName == form.id">
              <div *ngIf="fieldControl.invalid && fieldControl.touched" class="validation-error">
                <div class="text-danger" *ngIf="fieldControl.errors.required">{{form.label_title}} es requerido.</div>
                <div class="text-danger" *ngIf="fieldControl.errors.minlength">{{form.label_title}} debe tener almenos
                  {{form.min_length}} letras.</div>
                <div class="text-danger" *ngIf="fieldControl.errors.max_length">{{form.label_title}} maximo
                  {{form.max_length}}.
                </div>
              </div>
            </div>

          </ng-container>

          <!-- Checkbox -->
          <ng-container *ngSwitchCase="form.field_type === 'checkbox'">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="{{form.field_class}}" id="{{form.field_id}}"
                  name="{{form.placeholder_name}}" formControlName="{{form.id}}" (keypress)="validate(form.id)"
                  (click)="validate(form.id)">
                {{form.label_title}}
              </label>
            </div>

            <div *ngIf="formControlName == form.id">
              <div *ngIf="fieldControl.invalid && fieldControl.touched" class="validation-error">
                <div class="text-danger" *ngIf="fieldControl.errors.required">{{form.label_title}} es requerido.</div>
              </div>
            </div>
          </ng-container>

          <!-- Radiobutton -->
          <ng-container *ngSwitchCase="form.field_type === 'radiobutton'">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="{{form.field_class}}" id="{{form.field_id}}"
                  placeholder="{{form.placeholder_name}}" name="{{form.placeholder_name}}">
                {{form.label_title}}
              </label>
            </div>
          </ng-container>

          <!-- Button -->
          <ng-container *ngSwitchCase="form.field_type === 'button'">
            <button class="{{form.field_class}}"><label
                *ngIf="form.have_label == true">{{form.label_title}}</label></button>
          </ng-container>

          <!-- Line hr -->
          <ng-container *ngSwitchCase="form.field_type === 'hr'">
            <label *ngIf="form.have_label == true">{{form.label_title}}</label>
            <hr>
          </ng-container>

        </ng-container>


      </div>
    </div>
  </fieldset>

</form>


<app-tables [partial_name_component]="name_component"></app-tables>
