<div *ngIf="lst_forms.length > 0">
  <!-- <form (ngSubmit)="saveData(f)" #f="ngForm"> -->
  <div class="col-md-12" align="left">
    <button type="button" class="btn btn-primary" (click)="newData()">Nuevo</button>
  </div>

  <form #f="ngForm" style="padding: 15px;">
    <fieldset>
      <div class="row">
        <!-- ng for -->
        <div [className]="form.field_type != 'legend' ? 'form-group col-md-' + form.colspan : 'col-md-'+form.colspan "
          *ngFor="let form of lst_forms"
          [ngStyle]="{'margin': form.field_y + 'px' + ' ' +form.field_x + 'px' ,  'position': 'relative' , 'align-self':'flex-end'}">

          <ng-container [ngSwitch]="lst_forms.length > 0">

            <!-- Legend -->
            <ng-container *ngSwitchCase="form.field_type == 'legend'">
              <legend *ngIf="form.label_required == true" class="{{form.field_class}}">{{form.field_title}}</legend>
              <hr>
            </ng-container>

            <!-- Text -->
            <ng-container *ngSwitchCase="form.field_type === 'text'">
              <label *ngIf="form.label_required == true">{{form.field_title}}</label>
              <input [(ngModel)]="lst_data_form[form.field_name]" name="{{form.field_name}}" type="text"
                class="{{form.field_class}}" id="{{form.id}}" placeholder="{{form.field_placeholder}}"
                autocomplete="{{form.autocomplete}}" minlength="{{form.text_len_min}}" maxlength="{{form.text_len_max}}"
                [required]="form.required" (focusout)="saveData(f, form.table_name, form.field_name)">

              <div *ngIf="f.controls[form.field_name]?.invalid && 
              (f.controls[form.field_name]?.dirty || f.controls[form.field_name]?.touched)"
                class="alert alert-danger animated fadeIn fast">

                <div *ngIf="f.controls[form.field_name].errors?.required">
                  {{form.field_title}} es requerido.
                </div>

                <div *ngIf="f.controls[form.field_name].errors?.minlength">
                  {{form.field_title}} debe tener minimo {{form.text_len_min}} letras.
                </div>

              </div>

            </ng-container>

            <!-- Numeric -->
            <ng-container *ngSwitchCase="form.field_type === 'number'">
              <label *ngIf="form.label_required == true">{{form.field_title}}</label>
              <input [(ngModel)]="lst_data_form[form.field_name]" name="{{form.field_name}}" type="number"
                class="{{form.field_class}}" id="{{form.id}}" placeholder="{{form.field_placeholder}}"
                min="{{form.text_len_min}}" max="{{form.text_len_max}}" [required]="form.required"
                (focusout)="saveData(f, form.table_name, form.field_name)">

              <div *ngIf="f.controls[form.field_name]?.invalid && 
                (f.controls[form.field_name]?.dirty || f.controls[form.field_name]?.touched)"
                class="alert alert-danger animated fadeIn fast">

                <div *ngIf="f.controls[form.field_name].errors?.required">
                  {{form.field_title}} es requerido.
                </div>

                <div *ngIf="f.controls[form.field_name].errors?.minlength">
                  {{form.field_title}} debe tener minimo {{form.text_len_min}} letras.
                </div>

              </div>

            </ng-container>


            <!-- Date -->
            <ng-container *ngSwitchCase="form.field_type === 'date'">
              <label *ngIf="form.label_required == true">{{form.field_title}}</label>
              <input [(ngModel)]="lst_data_form[form.field_name]" name="{{form.field_name}}" type="date"
                class="{{form.field_class}}" id="{{form.id}}" placeholder="{{form.field_placeholder}}"
                autocomplete="{{form.autocomplete}}" minlength="{{form.text_len_min}}" maxlength="{{form.text_len_max}}"
                [required]="form.required" (focusout)="saveData(f, form.table_name, form.field_name)">

              <div *ngIf="f.controls[form.field_name]?.invalid && 
              (f.controls[form.field_name]?.dirty || f.controls[form.field_name]?.touched)"
                class="alert alert-danger animated fadeIn fast">

                <div *ngIf="f.controls[form.field_name].errors?.required">
                  {{form.field_title}} es requerido.
                </div>

                <div *ngIf="f.controls[form.field_name].errors?.minlength">
                  {{form.field_title}} debe tener minimo {{form.text_len_min}} letras.
                </div>

              </div>

            </ng-container>

            <!-- Textarea -->
            <ng-container *ngSwitchCase="form.field_type === 'textarea'">
              <label *ngIf="form.label_required == true">{{form.field_title}}</label>
              <textarea [(ngModel)]="lst_data_form[form.field_name]" name="{{form.field_name}}"
                class="{{form.field_class}}" id="{{form.id}}" placeholder="{{form.field_placeholder}}"
                minlength="{{form.text_len_min}}" maxlength="{{form.text_len_max}}" [required]="form.required"
                (focusout)="saveData(f, form.table_name, form.field_name)"></textarea>


              <div *ngIf="f.controls[form.field_name]?.invalid && 
              (f.controls[form.field_name]?.dirty || f.controls[form.field_name]?.touched)"
                class="alert alert-danger animated fadeIn fast">

                <div *ngIf="f.controls[form.field_name].errors?.required">
                  {{form.field_title}} es requerido.
                </div>

                <div *ngIf="f.controls[form.field_name].errors?.minlength">
                  {{form.field_title}} debe tener minimo {{form.text_len_min}} letras.
                </div>

              </div>
            </ng-container>

            <!-- Checkbox -->
            <ng-container *ngSwitchCase="form.field_type === 'checkbox'">
              <div class="form-check">
                <label class="form-check-label">
                  <input [(ngModel)]="lst_data_form[form.field_name]" name="{{form.field_name}}" type="checkbox"
                    class="{{form.field_class}}" id="{{form.field_id}}"
                    (change)="saveData(f, form.table_name, form.field_name)">
                  {{form.field_title}}
                </label>
              </div>


            </ng-container>

            <!-- Radiobutton -->
            <ng-container *ngSwitchCase="form.field_type === 'radiobutton'">
              <div class="form-check">
                <input id="{{form.field_id}}" type="radio" class="{{form.field_class}}"
                  value="{{form.field_placeholder}}" [(ngModel)]="lst_data_form[form.field_name]"
                  name="{{form.field_name}}" (change)="saveData(f, form.table_name, form.field_name)">
                <label class="form-check-label" for="{{form.field_id}}">{{form.field_title}}</label>
              </div>
            </ng-container>

            <!-- Button -->
            <ng-container *ngSwitchCase="form.field_type === 'button'">
              <button class="{{form.field_class}}"><label
                  *ngIf="form.label_required == true">{{form.field_title}}</label></button>
            </ng-container>

            <!-- Line hr -->
            <ng-container *ngSwitchCase="form.field_type === 'hr'">
              <label *ngIf="form.label_required == true">{{form.field_title}}</label>
              <hr>
            </ng-container>

          </ng-container>

        </div>
      </div>
    </fieldset>


    <div>
      {{ test_data_upsert | json }}
    </div>

  </form>
  <br>
</div>
