.component-container {
  height: 99.9vh;
  // white-space: nowrap;
}

.menus-container {
  padding: 0px;
  border-radius: 10px;
  white-space: nowrap;
  display: inline-flex;
  box-sizing: content-box;
  max-width: 200% !important;
}

#btn_collaps_all {
  text-align: center;
  height: 3%;
  float: right;
  cursor: pointer;
}


#infobar-container {
  background-color: rgb(212, 207, 207);
  border-radius: 5px;
  border: 1px solid black;
}
