.component-container {
  height: 92%;
  width: 100%;
  overflow: auto;
  position: fixed;
  // white-space: nowrap;
}

.sidebar-container {
  padding: 0px;
  white-space: nowrap;
  display: inline-flex;
  max-width: 1000% !important;
}

.work-area-container {
  min-width: 50%;
  overflow-y: auto;
  overflow-x: hidden;
}

#btn_collaps_all {
  height: 5%;
  font-size: 12px;
}

.sidebar-hide {
  display: none;
}

.infobar-container {
  overflow: auto;
  background-color: white;
  border: 1px solid #dddd;
}
