.component-container {
  height: 99.9vh;
  // white-space: nowrap;
}

.menus-container {
  padding: 0px;
  border-radius: 20px;
  white-space: nowrap;
  display: inline-flex;
  box-sizing: content-box;
  max-width: 200% !important;
}

#btn_collaps_all {
  text-align: center;
  height: 3%;
  float: right;
  cursor: pointer;
}

.active {
  background-color: white;
  border-radius: 10px;
  height: 20%;
  text-align: center;
  width: 100%;
}

.my-font-style{
  font-size: 18px;
  background-color: rgb(212, 207, 207);
  border: 1px solid #17a2b8;
  border-radius: 20px;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.left {
  
  
  overflow: hidden;
  float: left;
  width: 16.6vw;
}

li {
  width: 90%;
}

li a {
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
