<div class="d-flex component-container">

  <!-- Views Sidebar menu -->
  <app-sidebar class="col col-md-auto menus-container" *ngIf="visibleMenu == true"></app-sidebar>

  <!-- Button Collapse -->
  <button class=" btn btn-info fa fa-outdent" id="btn_collaps_all" (click)="collapse_all()" aria-hidden="true"></button>

  <!-- Views container -->
  <div class="col col-xs-auto my-3 mx-1">
    <router-outlet></router-outlet>
  </div>

  <!-- View infobar -->
  <app-infobar id="infobar-container" class="col-md-2 offset-md-12" *ngIf="isVisibleInfobar == true">
  </app-infobar>

</div>
