$fondo : #eee;
$fondoOscuro: rgba(139, 139, 139, 0.123);
$borde : #ccc;
$letras : black;


.list-group-infobar{
    background-color: $fondoOscuro;
    border-radius: 5px;
    border: 1px solid gray;
}

h5 {
    color: $letras;
    font-size: 5;
    font-family: sans-serif;
    text-align:center;
}

.list-group-item{
    color: $letras;
    font-size: 2;
    font-family: sans-serif;
    text-align:center;
}