.style-col {
  overflow: auto;
  overflow-x: hidden;
  background-color: rgb(212, 207, 207);
  border: 1px solid #dddd;
  border-radius: 10px;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.active {
  background-color: rgb(238, 234, 234);
  border-radius: 10px;
}

li {
  list-style: none;
}

ul {
  line-height: 2.5;
}

li a {
  font-size: 18px;
  color: black;
  // text-align: left;
  text-decoration: none;
}

li a label {
  width: 9vw;
  cursor: pointer;
}

//Style for minimize the menu in icons.
.redux {
  width: 4rem !important;

  ul {
    line-height: 3;
  }

  ul li span {
    font-size: 30px;
  }

  li a label {
    display: none;
  }
}
