$fondo : #eee;
$fondoOscuro: #ddd;
$borde : #ccc;
$letras : black;

.nav-side-menu {
  transition: all 0.3s;
  overflow: auto;
  font-family: verdana;
  background-color: $fondo;
  width: 100%;
  min-height: 100%;
  color: $letras;
  border: 1px solid $borde;
}
.active{
  color: red;
  background-color: rgb(212, 207, 207);
  border-radius: 10px;
}
.brand {
  background-color: $fondoOscuro;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 18px;
  border: 1px solid $borde;
}

#input-search-menu {}

.toggle-btn {
  display: none;
}

.menu-list {
  padding: 15px;
}

.menu-content {
  display: block;
}

.nav-side-menu li a {
  font-size: 14px;
  text-decoration: none;
  color: $letras;
}

.menu-list ul,
.menu-list li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;

  .collapsed {
    .folder:before {
      font-family: FontAwesome;
      content: "\f114";
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
      float: right;
    }
  }
}

.menu-list ul :not(collapsed) .folder:before,
.menu-list li :not(collapsed) .folder:before {
  font-family: FontAwesome;
  content: "\f07c";
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.menu-list li:hover,
.menu-listli:hover {
  background-color: #ffffff69;
}


.menu-02 {
  top: 0;
  position: fixed;
  left: 20%;
}

.menu-03 {
  top: 0;
  position: fixed;
  left: 40%;
}

.menu-04 {
  top: 0;
  position: fixed;
  left: 60%;
}

.menu-05 {
  top: 0;
  position: fixed;
  left: 80%;
}

.menu-06 {
  top: 0;
  position: fixed;
  left: 100%;
}
