.style-col {
  overflow: auto;
  overflow-x: hidden;
  background-color: white;
  border: 1px solid #dddd;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  text-align: center;
}

hr{
  width: 15.5vw;
}
.active {
  background-color: rgb(238, 234, 234);
  border-radius: 10px;
}

li {
  list-style: none;
}

ul {
  line-height: 2.5;
}

li a {
  font-size: 18px;
  color: black;
  // text-align: left;
  text-decoration: none;
}

li a label {
  width: 9vw;
  cursor: pointer;
  text-align: left;
  text-indent: 10px;
}

//badge
li a label span {
  position: relative;
  float: right;
}

//Style for minimize the menu in icons.
.redux {
  width: 5rem !important;

  ul {
    line-height: 3;
  }

  ul li span {
    font-size: 30px;
  }

  li a label {
    display: none;
  }

  #badgeMenu {
    font-size: 15px;
    position: relative;
    // float: right;
  }
}
