<!-- First Level -->
<div [className]="lstVisible[0].isVisible? 'col-md-auto style-col redux' : 'col-md-auto style-col'">
  <div class="my-2 title-menu"></div>
  <hr>
  <div>
    <ul class="list-group">
      <li *ngFor="let menu of list_menu_level_01|filter:searcherText" title="{{menu.title}}" routerLinkActive="active">
        <a (click)="openSubMenu(menu.id, 2)" [routerLink]="[menu.path]">
          <span class="{{menu.icon}}"></span>
          <label>{{menu.title}}</label>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Second Level -->
<div [className]="lstVisible[1].isVisible ? 'col-md-auto style-col redux' : 'col-md-auto style-col'"
  *ngIf="lstVisible[0].isVisible == true">
  <div class="my-2 title-menu"></div>
  <hr>
  <div>
    <ul class="list-group">
      <li *ngFor="let menu of list_menu_level_02|filter:searcherText" title="{{menu.title}}" routerLinkActive="active">
        <a (click)="openSubMenu(menu.id, 3)" [routerLink]="[menu.path]">
          <span class="{{menu.icon}}"></span>
          <label>{{menu.title}}</label>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Third Level -->
<div [className]="lstVisible[2].isVisible ? 'col-md-auto style-col redux' : 'col-md-auto style-col'"
  *ngIf="lstVisible[1].isVisible == true">
  <div class="my-2 title-menu"></div>
  <hr>
  <div>
    <ul class="list-group">
      <li *ngFor="let menu of list_menu_level_03|filter:searcherText" title="{{menu.title}}" routerLinkActive="active">
        <a (click)="openSubMenu(menu.id, 4)" [routerLink]="[menu.path]">
          <span class="{{menu.icon}}"></span>
          <label>{{menu.title}}</label>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Fourth Level -->
<div [className]="lstVisible[3].isVisible ? 'col-md-auto style-col redux' : 'col-md-auto style-col'"
  *ngIf="lstVisible[2].isVisible == true">
  <div class="my-2 title-menu"></div>
  <hr>
  <div>
    <ul class="list-group">
      <li *ngFor="let menu of list_menu_level_04|filter:searcherText" title="{{menu.title}}" routerLinkActive="active">
        <a (click)="openSubMenu(menu.id, 5)" [routerLink]="[menu.path]">
          <span class="{{menu.icon}}"></span>
          <label>{{menu.title}}</label>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Fifth Level -->
<div [className]="lstVisible[4].isVisible ? 'col-md-auto style-col redux' : 'col-md-auto style-col'"
  *ngIf="lstVisible[3].isVisible == true">
  <div class="my-2 title-menu"></div>
  <hr>
  <div>
    <ul class="list-group">
      <li *ngFor="let menu of list_menu_level_05|filter:searcherText" title="{{menu.title}}" routerLinkActive="active">
        <a (click)="openSubMenu(menu.id, 6)" [routerLink]="[menu.path]">
          <span class="{{menu.icon}}"></span>
          <label>{{menu.title}}</label>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Sixth Level -->
<div [className]="lstVisible[5].isVisible ? 'col-md-auto style-col redux' : 'col-md-auto style-col'"
  *ngIf="lstVisible[4].isVisible == true">
  <div class="my-2 title-menu"></div>
  <hr>
  <div>
    <ul class="list-group">
      <li *ngFor="let menu of list_menu_level_06|filter:searcherText" title="{{menu.title}}" routerLinkActive="active">
        <a (click)="openSubMenu(menu.id, 7)" [routerLink]="[menu.path]">
          <span class="{{menu.icon}}"></span>
          <label>{{menu.title}}</label>
        </a>
      </li>
    </ul>
  </div>
</div>
