<h1>Form</h1>
<form [formGroup]="myForm">
  <div class="row">
    <!-- nf for -->
    <div class="form-group {{form.size_col}}" *ngFor="let form of lstForms">

      <ng-container [ngSwitch]="lstForms.length > 0">

        <!-- Text -->
        <ng-container *ngSwitchCase="form.field_type === 'text'">
          <label *ngIf="form.have_label == true">{{form.label_title}}</label>
          <input type="text" class="{{form.field_class}}" id="{{form.field_id}}" placeholder="{{form.placeholder_name}}"
            autocomplete="{{form.autocomplete}}" formControlName="{{form.formControl}}"
            (keypress)="keyme(form.formControl)">
          <div *ngIf="myError.invalid && myError.touched" class="validation-error">
            <div class="text-danger" *ngIf="myError.errors.required">{{form.label_title}} es requerido.</div>
            <div class="text-danger" *ngIf="myError.errors.minlength">Input 1 debe tener almenos 3 letras.</div>
            <div class="text-danger" *ngIf="myError.errors.maxlength">Input 1 maximo 10.</div>
          </div>
        </ng-container>

        <!-- Numeric -->
        <ng-container *ngSwitchCase="form.field_type === 'number'">
          <label *ngIf="form.have_label == true">{{form.label_title}}</label>
          <input type="number" class="{{form.field_class}}" id="{{form.field_id}}"
            placeholder="{{form.placeholder_name}}">
        </ng-container>

        <!-- Textarea -->
        <ng-container *ngSwitchCase="form.field_type === 'textarea'">
          <label *ngIf="form.have_label == true">{{form.label_title}}</label>
          <textarea class="{{form.field_class}}" id="{{form.field_id}}"
            placeholder="{{form.placeholder_name}}"></textarea>
        </ng-container>

        <!-- Checkbox -->
        <ng-container *ngSwitchCase="form.field_type === 'checkbox'">
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="{{form.field_class}}" id="{{form.field_id}}"
                name="{{form.placeholder_name}}">
              {{form.label_title}}
            </label>
          </div>
        </ng-container>

        <!-- Radiobutton -->
        <ng-container *ngSwitchCase="form.field_type === 'radiobutton'">
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="{{form.field_class}}" id="{{form.field_id}}"
                placeholder="{{form.placeholder_name}}" name="{{form.placeholder_name}}">
              {{form.label_title}}
            </label>
          </div>
        </ng-container>

        <!-- Button -->
        <ng-container *ngSwitchCase="form.field_type === 'button'">
          <button class="{{form.field_class}}"><label
              *ngIf="form.have_label == true">{{form.label_title}}</label></button>
        </ng-container>

        <!-- Line hr -->
        <ng-container *ngSwitchCase="form.field_type === 'hr'">
          <label *ngIf="form.have_label == true">{{form.label_title}}</label>
          <hr>
        </ng-container>

      </ng-container>


    </div>
  </div>
</form>
